<% if @friend %>
  <h1><%= @friend.first_name %></h1>

  <p>Do you really want to friend <%= @friend.first_name %>?</p>

  <%= simple_form_for @user_friendship, method: :post do |form| %>
    <div class="form form-actions">
      <%= form.hidden_field :friend_id, value: @friend.profile_name %>
      <%= submit_tag "Yes, Add Friend", class: 'btn btn-primary' %>
      <%= link_to "Cancel", profile_path(@friend.profile_name), class: 'btn' %>
    </div>
  <% end %>
<% end %>