<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="posts new">
  <h2>Create post</h2>

  <%= form_for(:post, :url => {:action => 'create'}) do |f| %>

    <table summary="post form fields">
      <tr>
        <th>Subject ID</th>
        <td><%= f.text_field(:post_id) %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:details) %></td>
      </tr>
      <tr>
        <th>Permalink</th>
        <td><%= f.text_field(:privacy) %></td>
      </tr>
      
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create post") %>
    </div>

  <% end %>
</div>
